.GridHeight{

    height: 250px;
    width: 100%;
    overflow-y: scroll
}
.Pager{
display: flex;
flex-direction: row;
}

.PaddingLeftCommon{
    padding-left:10px
}
.PagerLink{
    color: blue;
    text-decoration-color: blue;
    text-decoration-line: underline;
}

